<ion-content [fullscreen]="true">
  <ion-grid id="ion_grid" class="background">
    <ion-row class="ion_row">
<!--      <ion-col><span id="number" class="span_align">0</span></ion-col>-->
      <ion-col size="8"><ion-button color="light" expand="block" class="button_cal"><span id="number" class="span_align">0</span></ion-button></ion-col>
      <ion-col><ion-button color="danger" expand="block" (click)="delete()" class="button_cal"><=|</ion-button></ion-col>
    </ion-row>
    <ion-row class="ion_row">
      <ion-col><ion-button color="light" expand="block" (click)="add('1')" class="button_cal">1</ion-button></ion-col>
      <ion-col><ion-button color="light" expand="block" (click)="add('2')" class="button_cal">2</ion-button></ion-col>
      <ion-col><ion-button color="light" expand="block" (click)="add('3')" class="button_cal">3</ion-button></ion-col>
    </ion-row>
    <ion-row class="ion_row">
      <ion-col><ion-button color="light" expand="block" (click)="add('4')" class="button_cal">4</ion-button></ion-col>
      <ion-col><ion-button color="light" expand="block" (click)="add('5')" class="button_cal">5</ion-button></ion-col>
      <ion-col><ion-button color="light" expand="block" (click)="add('6')" class="button_cal">6</ion-button></ion-col>
    </ion-row>
    <ion-row class="ion_row">
      <ion-col><ion-button color="light" expand="block" (click)="add('7')" class="button_cal">7</ion-button></ion-col>
      <ion-col><ion-button color="light" expand="block" (click)="add('8')" class="button_cal">8</ion-button></ion-col>
      <ion-col><ion-button color="light" expand="block" (click)="add('9')" class="button_cal">9</ion-button></ion-col>
    </ion-row>
    <ion-row class="ion_row">
      <ion-col><ion-button color="light" expand="block" (click)="add('*')" class="button_cal">*</ion-button></ion-col>
      <ion-col><ion-button color="light" expand="block" (click)="add('0')" class="button_cal">0</ion-button></ion-col>
      <ion-col><ion-button color="light" expand="block" (click)="add('#')" class="button_cal">#</ion-button></ion-col>
    </ion-row>
    <ion-row class="ion_row">
      <ion-col><ion-button color="success" expand="block" (click)="call()" class="button_cal"><ion-icon name="call-outline"></ion-icon></ion-button></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
