<ion-header>
  <ion-toolbar>
    <ion-label>
      <ion-select #langSelect (ionChange)="translate.use(langSelect.value); setLanguage(langSelect.value)" class="ion-text-start" value="es">
        <ion-select-option value="es">Es</ion-select-option>
        <ion-select-option value="en">En</ion-select-option><!--[selected]="lang === translate.currentLang"-->
      </ion-select>
    </ion-label>
    <ion-title>{{ 'INICIAR' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">{{ 'CONTRASENA' | translate }}</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(email, password)" expand="block"><ion-icon name="person-outline"></ion-icon>&nbsp;{{ 'INICIAR' | translate }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a routerLink="/forgot-password">{{ 'RECUPERAR' | translate }}</a>
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block"><ion-icon name="logo-google"></ion-icon>&nbsp;Google</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a routerLink="/register">{{ 'CREAR' | translate }}</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
