<ion-header [translucent]="true">
    <ion-buttons>
      <ion-button (click)="deleteAllItem()" color="danger" style="width: 50%">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="addEditItem(-1)" style="width: 50%">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-app>
    <div class="ion-page" id="content">
      <ion-content>
        <ion-list lines="full" *ngFor="let item of list; index as index">

          <ion-item-sliding>
            <ion-item (click)="addEditItem(index)" style="color: {{ item.color }}">
              <ion-label text-wrap>
                <h2>{{ item.text }}</h2>
                <p>{{ item.date.slice(0, 10) }}</p>
              </ion-label>
              <ion-icon slot="end" name="{{ item.icon }}"></ion-icon>
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option  color="danger" (click)="deleteItem(index)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

        </ion-list>
      </ion-content>
    </div>
  </ion-app>
</ion-content>
