<ion-header>
  <ion-toolbar>
    <!--<ion-label>
      <ion-select #langSelect (ionChange)="translate.use(langSelect.value)" class="ion-text-start" value="es">
        <ion-select-option value="es">Es</ion-select-option>
        <ion-select-option value="en">En</ion-select-option>&lt;!&ndash;[selected]="lang === translate.currentLang"&ndash;&gt;
      </ion-select>
    </ion-label>-->
    <ion-title class="color-background">Admin</ion-title>
    <ion-tab-button (click)="confirm()" class="ion-float-end">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>{{ 'SALIR' | translate }}</ion-label>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" class="button_background">
        <ion-icon name="calculator-outline"></ion-icon>
        <ion-label>{{ 'CALCULADORA' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2" class="button_background">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>{{ 'GALERIA' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3" class="button_background">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>{{ 'TAREAS' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4" class="button_background">
        <ion-icon name="keypad-outline"></ion-icon>
        <ion-label>{{ 'LLAMAR' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
<!--    <ion-button (click)="exit()" expand="block"><ion-icon name="exit-outline"></ion-icon><p>Salir</p></ion-button>-->
  </ion-tabs>
</ion-content>
