<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'REGISTRARU' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">{{ 'CONTRASENA' | translate }}</ion-label>
    <ion-input type="password" #password required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="onRegister(email, password)" expand="block">{{ 'REGISTRAR' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</form>
<ion-row>
  <ion-col>
    <p class="ion-text-end">
      <a routerLink="/login">{{ 'INICIARS' | translate }}</a>
    </p>
  </ion-col>
</ion-row>
</ion-content>
